<!DOCTYPE html>
<html>
<head>
    <!--Favicon-->
    <link rel="shortcut icon" href="assets/icon/favicon.ico">
    <!--Title-->
    <title>{{.title}}</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="assets/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body class="grey lighten-2">
<div class="section"></div>
<main class="center">
    <img class="responsive-img" style="width: 100px;" src="assets/icon/squirrel.png" />
    <div class="section"></div>
    <h5>Squirrel - ヘルプ</h5>
    <div class="section"></div>
    <div class="row">
        <div class="col s1 m2 l3"></div>
        <div class="col s10 m8 l6">
            <div class="container">
                <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 0px 38px 0px 38px; border: 1px solid #EEE;">
                    <p class="flow-text">
                        万が一ユーザーIDやパスワードを忘れてしまうようなことがあった場合は管理者({{.adminEmail}})に問い合わせください。
                    </p>
                </div>
            </div>
        </div>
        <div class="col s1 m2 l3"></div>
    </div>
    <a href="/login">ユーザーログインへ</a>
</main>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="assets/js/materialize.min.js"></script>
</body>
</html>